body{
    background: whitesmoke;
    font-family: sans-serif;
}

.tool_tip{
    color: red;
    visibility: hidden;
    display: none;
}

.word:hover + .tool_tip{
    display: inline;
    visibility: visible;
}

.hidden{
    visibility: hidden;
    display: none;
}

.displayed{
    visibility: visible;
    display: block;
}

.navbar, .footer{
    margin: 10px; 
    border: solid black 1px; 
    background: green;
    border-radius: 60px;
    color: black;
    padding: 10px; 
}


.navbar{
    float: top; 
    margin-bottom: 20px; 
}


.footer{
    float: bottom; 
    margin-top: 50vh; 
    margin-bottom: 0;
    text-align: center;
}


.textbox{
    size: 50;
    border-radius: 20px;
    margin: 30px;
    font-size: large;
    padding: 10px;
}


.centered{
    width: 50%;
    margin: 0 auto;
}


.normal_button{
    border-radius: 30px;
    border: solid 2px black;
    color: black;
    background: yellow;
    padding: 3px;
}



#take_lesson_div_solution{
    border: solid green 1px;
    padding: 3px;
    border-radius: 5px;
}