.tool_tip{
    color: red;
    visibility: hidden;
    display: none;
}

.word:hover + .tool_tip{
    display: inline;
    visibility: visible;
}

.hidden{
    visibility: hidden;
    display: none;
}

.displayed{
    visibility: visible;
    display: block;
}

.navbar, .footer{
    margin: 10px; 
    border: solid red 1px; 
    background: black; 
    border-radius: 60px;
    color: red;
    padding: 10px; 
}


.navbar{
    float: top; 
    margin-bottom: 20px; 
}


.footer{
    float: bottom; 
    margin-top: 200px; 
    text-align: center;
}