body{
    background: green;
}


.tool_tip{
    color: red;
    visibility: hidden;
    display: none;
}

.word:hover + .tool_tip{
    display: inline;
    visibility: visible;
}

.hidden{
    visibility: hidden;
    display: none;
}

.displayed{
    visibility: visible;
    display: block;
}

.navbar, .footer{
    margin: 10px; 
    border: solid red 1px; 
    background: rgb(255, 255, 39); 
    border-radius: 60px;
    color: green;
    padding: 10px; 
}


.navbar{
    float: top; 
    margin-bottom: 20px; 
}


.footer{
    float: bottom; 
    margin-top: 200px; 
    text-align: center;
}


.textbox{
    size: 50;
    border-radius: 30px;
    margin: 30px;
}


.centered{
    width: 50%;
    margin: 0 auto;
}


.normal_button{
    border-radius: 30px;
    border: solid 2px red;
    color: green;
    background: greenyellow;
}