:root {
    --bg-color: rgba(245, 245, 245, 0.445);
    --on-focus-color: orange;
    --normal-item-color: rgba(7, 7, 92, 0.9);
    --dangerous-item-color: red;
    --safe-item-color: green;
}

body {
    background-color: var(--bg-color);
    font-family: sans-serif;
    padding-left: 10vw;
    padding-right: 10vw;
}


h1 {
    text-decoration: underline;
}

.normal_textbox {
    width: 40vw;
    border: 1px black dotted;
    margin: 1vh;
    padding: 1vh;
}

.normal_textbox:focus {
    outline: 2px var(--on-focus-color) solid;
}

.normal_button,
.transparent_button,
.dangerous_button,
.play_audio_button
.safe_button 
.word_button {
    border: 1px black dotted;
    margin: 1vh;
    padding: 1vh;
    background-color: var(--normal-item-color);
    color: white;
}

.icon_button {
    color: black;
}

.word_button {
    background-color: white;
    color: var(--normal-item-color);
    margin-right: 1em;
}

.transparent_button,
.play_audio_button{
    background: transparent;
    border: none;
    border-radius: 100%;
    padding: 1vw;
}


#button_words {
    width: 40vw;
}

.button_container {
    min-height: 10vh;
}


.normal_button:hover,
.normal_button:focus,
.dangerous_button:hover,
.dangerous_button:focus,
.safe_button:hover,
.safe_button:focus,
.transparent_button:hover, 
.transparent_button:focus, 
.play_audio_button:hover,
.play_audio_button:focus,
.word_button:hover,
.word_button:focus
{
    outline: 2px var(--on-focus-color) solid;
    color: var(--on-focus-color);
}


.play_audio_button{
    float: right;
}







.dangerous_button {
    background-color: var(--dangerous-item-color);
}

.safe_button {
    background-color: var(--safe-item-color);
}

.text_tip,
.text_warning {
    font-size: small;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2vh;
}

.text_warning {
    color: var(--dangerous-item-color);
}

/* .text_warning:hover, .text_warning:focus{
    text-decoration: underline;
} */

select {
    width: 40vw;
    background-color: var(--normal-item-color);
    color: white;
}

select option {
    background-color: var(--normal-item-color);
    color: white;
}

.normal_link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
}

.normal_link:hover {
    color: var(--on-focus-color);
}

.textarea {
    width: 60vw;
    height: 80vh;
    font-size: large;
}

/* .home_button {
    padding: 0;
    border-radius: 70px;
    background-color: whitesmoke;
} */

.hovering_tool_tip{
    position: absolute; 
    border: solid 1px black;
    border-radius: 10px;
    width :  30vw;
    padding: 1vw;
    background :  rgba(7, 7, 92, 0.9);
    color: white;
}


.hovering_tool_tip p {
    width: 25vw; 
    /* overflow: scroll; */
}

.hovering_tool_tip h1{
    font-size: medium;
}


.table{
    border: solid black 1px;      
    border-collapse : collapse;
    width: 70vw;
    overflow-y: scroll;    /* Trigger vertical scroll    */
    height: 100px;
    max-height: 100px;
}

.table td th{
    border: solid black 1px;      
    cursor:default;
    padding: 0;
    text-align: left;
}

/* .table thead{
    height: 2em;
    padding: 0%;
} */


/* .table tbody { */
    /* height: 100px;       Just for the demo          */
    /* overflow-y: scroll;    Trigger vertical scroll    */
/* } */


.center_container{
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
}

.vertical_center_container{
    display: flex; 
    text-align: center;
    align-items: center;
}