:root{
    --bg-color : rgba(245, 245, 245, 0.445);
    --on-focus-color : orange;
    --normal-item-color : rgb(7, 7, 92);
}

body{
    background-color: var(--bg-color);
    font-family: sans-serif;
}


h1{
    text-decoration: underline;
}

/* body,h1,h2{
    font-size: medium;
} */

.normal_textbox{
    width: 40vw;
    border: 1px black dotted;
    margin: 1vh;
    padding: 1vh;
}

.normal_textbox:focus{
    outline: 2px var(--on-focus-color) solid;
}

.normal_button{
    border: 1px black dotted;
    margin: 1vh;
    padding: 1vh;
    background-color: var(--normal-item-color);
    color: white;
}

.normal_button:hover, .normal_button:focus{
    outline: 2px var(--on-focus-color) solid;
    color: var(--on-focus-color);
}

.text_tip{
    font-size: small;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2vh;
}

select{
    width: 40vw;
    background-color: var(--normal-item-color);
    color: white;
}

select option{
    background-color: var(--normal-item-color);
    color: white;   
}

.normal_link{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.normal_link:hover{
    color: var(--on-focus-color);
}

.textarea{
  width: 60vw; 
  height: 80vh;
  font-size: large;
}