<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craft Lesson</title>
</head>
<body >


    <label class="normal_button" title="Open an existing json file...">
            Edit Existing
            <input type="file" id="craft_lesson_input_existing_lesson" hidden>
    </label>


    <br>
    <br>

    <h3>Write a sentence in the target language:</h3>
    <input type="text" id="input_sentence_one" class="textbox">
    <br>
    <h3>Record yourself saying it:</h3>
    <input type="button" value="Record Audio🎙️" id="button_audio" class="normal_button">
    <input type="button" value="Play Audio ▶" id="button_play_audio"  class="hidden   normal_button">
    <h3>Translate to the students' language:</h3>
    <input type="text" id="input_sentence_two" class="textbox">
    <br>
    

    <br>
    <br>
    <h3>Give a brief definition of each word you used:</h3>
    <table id="table_definitions"></table>

    <br>
    <br>

    <label for="invert_translation_direction">From target lang to native lang (default)</label>
    <input type="checkbox" id="invert_translation_direction">

    <br>
    <br>

    <input type="button" value="Next" id="button_next" class="normal_button">
    <input type="button" value="Previous" id="button_previous" class="normal_button">

    <br>
    <br>
    
    <input type="button" value="Save to Computer" id="button_save_to_computer" class="normal_button">




    
</body>
</html>