<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craft Lesson</title>
</head>
<body>

    <input type="text" id="input_sentence_one" class="textbox">
    <br>
    <input type="text" id="input_sentence_two" class="textbox">
    <br>
    <input type="button" value="Record Audio" id="button_audio" class="normal_button">
    <input type="button" value="Play Audio" id="button_play_audio"  class="hidden   normal_button">

    <br>
    <br>


    <table id="table_definitions"></table>

    <br>
    <br>


    <input type="button" value="Next" id="button_next" class="normal_button">
    <input type="button" value="Previous" id="button_previous" class="normal_button">

    <br>
    <br>
    
    <input type="button" value="Save to Computer" id="button_save_to_computer" class="normal_button">




    
</body>
</html>