<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craft Lesson</title>
</head>
<body>

    <input type="text" id="input_sentence_one">
    <br>
    <input type="text" id="input_sentence_two">
    <br>
    <input type="button" value="Record Audio" id="button_audio">
    <input type="button" value="Play Audio" id="button_play_audio" style="display: none; visibility: hidden;">

    <br>
    <br>

    <table id="table_definitions">
        
    </table>

    <br>
    <br>


    <input type="button" value="Next" id="button_next">
    <input type="button" value="Previous" id="button_previous">

    <br>
    <br>
    
    <input type="button" value="Save Locally" id="button_save_to_computer">



    <script src="{{url_for('static', filename='/scripts/model/recorder.js')}}"></script>
    <script src="{{url_for('static', filename='/scripts/model/proposition_builder.js')}}"></script>
    <script src="{{url_for('static', filename='/scripts/model/lesson_builder.js')}}"></script>
    <script src="{{url_for('static', filename='/scripts/view/craft_lesson.js')}}"></script>

    
</body>
</html>