<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>>Welcome</title>
</head>
<body>

    <p>hello world</p>

    
    <script src= "{{url_for('static', filename='/scripts/view/index.js')}}" ></script>

    <script src="{{url_for('static', filename='/scripts/model/recorder.js')}}"></script>
    <script src="{{url_for('static', filename='/scripts/model/proposition.js')}}"></script>
    <script src="{{url_for('static', filename='/scripts/model/proposition_builder.js')}}"></script>


</body>
</html>