<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>

    <h1>Main Menu</h1>


    <a href="/craft-lesson">craft_lesson</a>
    <br>
    <a href="/take-lesson">craft_lesson</a>
    <br>

 
<!-- 
    <script src="{{url_for('static', filename='/scripts/model/proposition.js')}}"></script>
    <script src="{{url_for('static', filename='/scripts/model/lesson.js')}}"></script>
    <script src="{{url_for('static', filename='/scripts/view/index.js')}}"></script>
 -->

</body>
</html>