<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Lesson</title>
</head>

<body>

    <label for="input_lesson_file" class="normal_button">
        Open Lesson From File
        <input type="file" id="input_lesson_file" hidden>
    </label>

    <br>
    <br>

    <div id="take_lesson_div_root" class="hidden">

        <h2>Translate this sentence:</h2>

        <div id="div_problem"></div>
        <br>

        <input id="take_lesson_button_play_audio" type="button" value="Play Audio ▶" class="normal_button"/>

        <input id="input_translation_answer" type="text" class="textbox"/>
        <br>

        <p>Your accuracy: <span id="p_grading"></span></p>

        <div id="div_solution" class="hidden"></div>

        <input id="take_lesson_button_next" type="button" value="See Solution" class="normal_button"/>

        <br>
        <br>

        <p><em>You can hover over words of the language you're learning to get quick hints.</em></p>


    </div>
    

</body>

</html>