<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Lesson</title>
</head>
<body>

    <label for="input_lesson_file" >Open Lesson From File</label>
    <input type="file"  id="input_lesson_file">

    <br>
    <br>


    <div id="div_sentence_one"></div>

    <br>
    <input id="take_lesson_button_play_audio" type="button" value="Play Audio">
    <br>
    <input id="take_lesson_input_sentence_two" type="text" name="" >
    <br>
    <p id="p_sentence_two"  style="display: none; visibility: hidden;"></p>
    <p id="p_grading"></p>

    <br>

    <input id="take_lesson_button_next" type="button" value="See Solution">

</body>
</html>